* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	color: #44545E;
	margin: 0;
}

h1, h2, h3, h4, a {
	font-weight: 600;
	color: #29303A;
}

h1 {
	font-size: 35px;
}

a {
	text-decoration: none;
	color: #7B98AA;
}

a:hover {
	color: #44545E
}

p {
	text-transform: none;
	font-family: "Lato", sans-serif;
}

/*** Fixed top navigation setup ***/

#top-nav {
	width: 100%;
	height: 150px;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: #ffffff;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

#top-nav .navbar-small {
	display: none;
}

#top-nav .logo-img {
	display: inline-block;
	height: 150px;
	line-height: 150px;
	float: left;
	-webkit-transition: all 1s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin: 0 0 0 60px;
}

#top-nav .logo-src {
	width: 350px;
	vertical-align: middle;
	-webkit-transition: all 1s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#top-nav .logo-src-small {
	width: 218px;
	vertical-align: middle;
	-webkit-transition: all 1s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#top-nav nav {
	display: inline-block;
	float: right;
	margin: 0 60px 0 0;
}

#top-nav nav a {
	line-height: 150px;
	margin-left: 20px;
	color: #FDBD10;
	font-weight: 700;
	font-size: 18px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#top-nav nav a:hover {
	color: #F79420;
	text-decoration: underline;
}

/*** BEGIN - Styles to handle top navigation resize on scroll ***/
#top-nav.smaller {
    height: 75px;
}

#top-nav .logo-img.smaller {
    height: 75px;
    line-height: 75px;
    font-size: 30px;
}

#top-nav nav.smaller a {
    line-height: 75px;
		font-size: 14px;
}
/*** END - Styles to handle top navigation resize on scroll ***/


/*** Large image area below Navigation - Sign-Up ***/
.sign-up {
	margin-top: 150px;
	background-image: url("../images/khidmat-large-header.jpg");
	background-size: cover;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
	height: 320px;
}

span.k-icon {
	width: 30px;
  height: 30px;
  display: inline-block;
	background-image: url("../images/khidmat-icon.png");
	background-size: 30px 30px;
	vertical-align: middle;
}
h1.k-icon-label {
	display: inline-block;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
}


/* -----------------------------------------------------------------------------

  CONTAINER OBJECTS

----------------------------------------------------------------------------- */
.o-container {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 960px;
}

@media all and (min-width: 480px) {
  .o-container {
    padding: 0 24px;
  }
}

@media all and (min-width: 720px) {
  .o-container {
    padding: 0 48px;
  }
}


/* -----------------------------------------------------------------------------

  MAIN OBJECT

----------------------------------------------------------------------------- */
.o-main {
  /**/
}

/* -----------------------------------------------------------------------------

  SECTION OBJECT

----------------------------------------------------------------------------- */
.o-section {
  margin-bottom: 24px;
}

.o-section:last-child {
  margin-bottom: 0;
}

@media all and (min-width: 720px) {
  .o-section {
    margin-bottom: 48px;
  }
}


/* -----------------------------------------------------------------------------

  TABS COMPONENT

----------------------------------------------------------------------------- */

.c-tabs {
  /**/
}

/**
 * Tabs navigation
 */
.c-tabs-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-tabs-nav__link {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 4px;
  padding: 12px;
  color: #fff;
  background-color: #b3b3b3;
  text-align: center;
  -webkit-transition: color 0.3s;
          transition: color 0.3s;
}

.c-tabs-nav__link:last-child {
  margin-right: 0;
}

.c-tabs-nav__link:hover {
  color: #6d6d6d;
}

.c-tabs-nav__link.is-active {
  color: #dc446e;
  background-color: #e7e7e7;
}

.c-tabs-nav__link i,
.c-tabs-nav__link span {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.c-tabs-nav__link i {
  font-size: 18px;
}

.c-tabs-nav__link span {
  display: none;
  font-size: 18px;
}

@media all and (min-width: 720px) {
  .c-tabs-nav__link i {
    margin-bottom: 12px;
    font-size: 22px;
  }
  .c-tabs-nav__link span {
    display: block;
  }
}

/**
 * Tab
 */
.c-tab {
  display: none;
  background-color: #e7e7e7;
}

.c-tab.is-active {
  display: block;
}

.c-tab__content {
  padding: 1.5rem;
}

/**
 * Tabs no-js fallback
 */
.c-tabs.no-js .c-tabs-nav {
  display: none;
}

.c-tabs.no-js .c-tab {
  display: block;
  margin-bottom: 1.5rem;
}

.c-tabs.no-js .c-tab:last-child {
  margin-bottom: 0;
}


/*** Styles to handle top navigation responsive for mobile view ***/

@media all and (max-width: 1100px) {

		#top-nav .logo-img {
			display: block;
			float: none;
			margin: 0 auto;
			height: 100px;
			line-height: 100px;
			text-align: center;
		}

		#top-nav .navbar-main {
			display: block;
			float: none;
			height: 50px;
			text-align: center;
			margin: 0 auto;
		}

		#top-nav .navbar-main a {
			line-height: 50px;
			margin: 0 10px;
		}

		#top-nav.smaller {
        height: 75px;
				padding-top: 5px;
    }

    #top-nav .logo-img.smaller {
        height: 40px;
        line-height: 40px;
        font-size: 30px;
    }

		#top-nav .logo-src.smaller {
			margin-top: 0px;
		}

    #top-nav.smaller nav {
        height: 35px;
    }
    #top-nav nav.smaller a {
        line-height: 35px;
    }
}


@media all and (max-width: 850px) {

	#top-nav {
			height: 75px;
			padding-top: 5px;
	}

	#top-nav .logo-img {
			float: left;
			display: inline-block;
	}

	#top-nav .logo-img.smaller {
			height: 60px;
			line-height: 60px;
			font-size: 30px;
	}

	#top-nav .navbar-small {
		display: inline-block;
		float: right;
	}

	#top-nav.smaller nav {
			height: 70px;
			line-height: 70px;
	}

	#top-nav .navbar-main {
		display: none;
	}

	#top-nav .logo-src {
		margin-top: 0px;
	}

	#top-nav nav {
			height: 35px;
	}
	#top-nav nav a {
			line-height: 35px;
	}

	.sign-up {
		margin-top: 75px;
	}

	/*
	#top-nav .navbar-small {
		display: block;
	}

	#top-nav .navbar-main {
		display: none;
	}
	*/


}
